@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    /* (box-sizing: border-box; é uma técnica para incluir padding e borda no cálculo do tamanho do elemento) */
}

#picture__input {
    display: none;
}

.picture {
    width: 3cm; /* Largura desejada para o quadro */
    height: 4cm; /* Altura desejada para o quadro */
    aspect-ratio: 3/4; /* Proporção 3:4 */
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: Inter;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture img {
    max-width: 100%; /* Ajusta a largura da imagem para caber dentro do quadro */
    max-height: 100%; /* Ajusta a altura da imagem para caber dentro do quadro */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px 0;
}

header img {
    max-width: 100px; /* Ajuste o tamanho máximo conforme necessário */
    vertical-align: middle;
}

/* Estilos para posicionar as imagens */
#logo-pref {
    float: left;
}

#logo-cr {
    float: right;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.input-group {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}