#picture__input {
    display: none;
}

.picture {
    width: 3cm;
    aspect-ratio: 3/4;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #white;
    border: 2px dashed #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: aquamarine;
    color: aquamarine;
    background: #eee;
}

.picture:focus {
    outline: 2px solid gray;
    box-shadow: 0 0 10px black;
}  

.picture__image {
    max-width: 100%;
}